.global-normalize();

.container{
  overflow: hidden;
  margin: 3%;
  font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
  header{
    overflow: hidden;
    h1{
      margin: 0;
      font-size: 22px;
      font-weight: bold;
    }
    h3{
      margin: 6px 0;
      font-size: 13px;
      color: #8C8C8C;
      font-weight: 100;
    }
    border-bottom: 1px solid #E7E7EB;
  }


  main{
    p{
      text-indent: 2em;
      line-height: 1.5625;
      font-size: 16px;
      &.cpr{
        margin: 0;
        font-size: 13px;
      }
    }
  }
}

.image{
  text-align: center;
  .subtitle{
    font-size: 18px;
    color: #3E3E3E;
    font-weight: bold;
  }
  margin-bottom: 35px;
}